section.hero{
    margin-top: 3rem;
}
section.hero .parent-avatar.flex{
    align-items: end;
    min-width: 88px;
    gap: .6rem;
}
section.hero .left-section{
    flex-grow: 1;
}
section.hero .avatar{
  width: 100px;
  border-radius: 50%;
  border: 2px solid darkorange;
  padding:1px ;
  box-shadow: 2px 2px 40px gray inset;
}
section.hero .icon-verified{
    color: var(--bleu);
    font-size: 1.2rem;
    margin-left:-1.1rem ;
}
section.hero h1.title
{
    font-size: 2rem;
    line-height: 3.3rem;
    margin: 24px 0px;
    color: var(--title);
}
section.hero  p{
  color : var(--subtitle);
  font-size: .9rem;
  line-height: 1.7rem;
  margin-bottom: 32px;
}
section.hero .all-icons{
    font-size: 1.4rem;
    gap: 1.5rem;    
    color: var(--subtitle);
}

section.hero .all-icons .icon:hover{
    transition: .2s;
    cursor: pointer;
    filter: drop-shadow(1px 2px 20px var(--icon-hover));
    color: var( --icon-hover);
}
.animation{
    width: 100%;
    translate: 0px 20px ;
}
@media(max-width:1200px){
    .animation{
        display: none;
    }
  }
  section.hero .all-icons a{
    font-size: 1.4rem;
    gap: 1.5rem;    
    color: var(--subtitle);
}















/* ########################
        right section ==> annimation
    #######################*/